@model IEnumerable<BoardGamesRentalApplication.DAL.Models.DiscountCode>

@{
    ViewBag.Title = "Zarządzanie kodami rabatowymi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGame.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGame.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiscountCodeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiscountCodeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiscountCodeId })
        </td>
    </tr>
}

</table>
