@using BoardGamesRentalApplication.Service
@using PagedList
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@model IPagedList<BoardGamesRentalApplication.Models.BoardGame>

@{
    ViewBag.Title = "BoardGamesCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoardGamesCollection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("BoardGamesCollection",
        new { page }))
</div>
<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Zawartość
        </th>
        <th>
            Minimalna liczba graczy
        </th>
        <th>
            Maksymalna liczba graczy
        </th>
        <th>
            Minimalny wiek
        </th>
        <th>
            Wydawca
        </th>
        <th>
            Stan
        </th>
        <th>
            Kategoria
        </th>
        <th></th>
    </tr>

    @{
        IEllipsisService ellipsisService = new EllipsisService();
        int maxChars = 100;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @ellipsisService.EllipsisOf(item.Description, maxChars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinPlayerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxPlayerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardGamePublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardGameStateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardGameCategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BoardGameId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BoardGameId })
                </td>
            </tr>
        }
    }
</table>

<div class="row">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("BoardGamesCollection",
        new { page }))
</div>
