@using BoardGamesRentalApplication.Service
@model IEnumerable<BoardGamesRentalApplication.Models.BoardGame>

@{
    ViewBag.Title = "BoardGamesCollection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoardGamesCollection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGamePublisherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGameStateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGameCategoryName)
        </th>
        <th></th>
    </tr>

@{ 
    IEllipsisService ellipsisService = new EllipsisService();
    int maxChars = 100;
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @ellipsisService.EllipsisOf(item.Description, maxChars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPlayerCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGamePublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGameStateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGameCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BoardGameId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BoardGameId })
        </td>
    </tr>
    }
}

</table>
