@model BoardGamesRentalApplication.DAL.Models.BoardGame

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <section class="admin-edit">

        <div class="row">

            <div class="col">
                <div class="row">
                    <h2>@ViewBag.Title</h2>
                    <div class="card text-center bg-light" style="width: 100%;">
                        <div class="card-body">
                            <div class="form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "alert" })
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.Name, "Nazwa gry")
                                            @Html.EditorFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.ImagePath, "Zdjęcie")
                                            @Html.EditorFor(model => model.ImagePath)
                                            @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.DetailsImagePath, "Zdjęcie (Szczegóły)")
                                            @Html.EditorFor(model => model.DetailsImagePath)
                                            @Html.ValidationMessageFor(model => model.DetailsImagePath, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.Description, "Opis gry", htmlAttributes: new { @style = "vertical-align:top;" })
                                            @Html.TextAreaFor(model => model.Description, new { rows = 3 })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.Content, "Zawartość gry", htmlAttributes: new { @style = "vertical-align:top;" })
                                            @Html.TextAreaFor(model => model.Content, new { rows = 3 })
                                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.MinPlayerCount, "Minimum graczy")
                                            @Html.EditorFor(model => model.MinPlayerCount)
                                            @Html.ValidationMessageFor(model => model.MinPlayerCount, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.MaxPlayerCount, "Maksimum graczy")
                                            @Html.EditorFor(model => model.MaxPlayerCount)
                                            @Html.ValidationMessageFor(model => model.MaxPlayerCount, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.GameTimeInMinutes, "Czas gry (w minutach)")
                                            @Html.EditorFor(model => model.GameTimeInMinutes)
                                            @Html.ValidationMessageFor(model => model.GameTimeInMinutes, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.MinimumAge, "Minimalny wiek gracza")
                                            @Html.EditorFor(model => model.MinimumAge)
                                            @Html.ValidationMessageFor(model => model.MinimumAge, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.BoardGamePublisher, "Wydawca gry")
                                            @Html.DropDownListFor(model => model.BoardGamePublisher, ViewBag.BoardGamePublisher as SelectList)
                                            @Html.ValidationMessageFor(model => model.BoardGamePublisher, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.BoardGameState, "Stan gry")
                                            @Html.DropDownListFor(model => model.BoardGameState, ViewBag.BoardGameState as SelectList)
                                            @Html.ValidationMessageFor(model => model.BoardGameState, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            @Html.LabelFor(model => model.BoardGameCategory, "Kategoria")
                                            @Html.DropDownListFor(model => model.BoardGameCategory, ViewBag.BoardGameCategory as SelectList)
                                            @Html.ValidationMessageFor(model => model.BoardGameCategory, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Zatwierdź" class="btn btn-full" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                @Html.ActionLink("Powrót", "BoardGamesCollection", new { }, new { @class = "btn btn-full", @type = "submit", @style = "float:right;width:200px;" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>