@model BoardGamesRentalApplication.Models.BoardGamesCollectionPageData
@using PagedList.Mvc;
@using System;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<section class="main">
    <div class="row">
        <div class="col-3">
            <section class="search_form">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        @Html.EditorFor(x => x.FilterParameters, new { htmlAttributes = new { @class = "category" } })
                        <input type="submit" value="Szukaj" class="btn " />
                    }
                </div>
            </section>

        </div>
        <div class="col-9">
            <section class="products_list">
                <div class="row pagination">
                    @foreach (var item in Model.SortingOptions.Select((value, i) => new { i, value }))
                    {
                        <div class="col-3">
                            @Html.ActionLink(item.value, "Index", new { sortByOptionId = item.i, selectedFilterOption = ViewBag.SelectedFilterOption })
                        </div>
                    }
                </div>

                <div class="row">

                    @foreach (var item in Model.BoardGames)
                    {
                    <div class="col-12 product">
                        <img src="@item.ImagePath" alt="">
                        <table>
                            <tr>
                                <td colspan="3">
                                    <h3>
                                        <a href="BoardGame/Details">
                                            @Html.ActionLink(item.Name, "Details", "BoardGameDetailsOffer", new { boardGameId = item.BoardGameId }, null)
                                        </a>
                                    </h3>
                                </td>
                            </tr>
                            <tr>
                                <td><span class='category_list'>Opis: </span>@Html.DisplayFor(modelItem => item.Description).ToString().Substring(0, 45)...</td>
                                <td><span class='category_list'>Minimalna ilość graczy: </span>@Html.DisplayFor(modelItem => item.MinPlayerCount)</td>
                                <td><span class='category_list'>Maksymalna ilość graczy: </span>@Html.DisplayFor(modelItem => item.MaxPlayerCount)</td>
                                <td><span class='category_list'>Czas rozgrywki: </span>@Html.DisplayFor(modelItem => item.GameTimeInMinutes)</td>
                                <td><span class='category_list'>Ilość: </span>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            </tr>
                            <tr>
                                <td><span class='category_list'>Zawartość: </span>@Html.DisplayFor(modelItem => item.Content)</td>
                                <td><span class='category_list'>Wiek: </span>@Html.DisplayFor(modelItem => item.MinimumAge)</td>
                                <td><span class='category_list'>Wydawca: </span>@Html.DisplayFor(modelItem => item.BoardGamePublisherName)</td>
                                <td><span class='category_list'>Stan: </span>@Html.DisplayFor(modelItem => item.BoardGameStateName)</td>
                                <td><span class='category_list'>Kategoria: </span>@Html.DisplayFor(modelItem => item.BoardGameCategoryName)</td>
                            </tr>
                        </table>

                        <div class="price_box">
                            <span class="price_title">Cena wypozyczenia: </span><span class="price">@Html.DisplayFor(modelItem => item.RentalCostPerDay)</span>
                            <span class="day">/dzien</span>
                        </div>
                    </div>
                    }

                </div>
                <div class="row">

                    @Html.PagedListPager(Model.BoardGames, page => Url.Action("Index",
                new { page }),
                new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    UlElementClasses = new string[] { "pagination justify-content-end" },
                    ContainerDivClasses = new[] { "pagination" },
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    LinkToPreviousPageFormat = "Previous",
                    LinkToNextPageFormat = "Next"
                })
                </div>
            </section>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-4">
                <a href="#">Strona Główna</a>
                <a href="#">O nas</a>
                <a href="#">Nasze gry</a>
            </div>
            <div class="col-4">
                Copyright 2019. All rights reserved.
            </div>
            <div class="col-4 logo">
                <img src="~/images/logo.png" />
            </div>
        </div>
    </footer>
</section>
    
