@model BoardGamesRentalApplication.Models.BoardGame

@{
    ViewBag.Title = "BoardGameDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoardGameDetails</h2>

<div>
    <h4>BoardGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardGamePublisherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardGamePublisherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoardGameStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoardGameStateName)
        </dd>

    </dl>
</div>
