@model BoardGamesRentalApplication.DAL.Models.Reservation

@{
    ViewBag.Title = "Edytuj rezerwację";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="admin-edit">

        <div class="row">

            <div class="col">
                <div class="row">
                    <h2>@ViewBag.Title</h2>
                    <div class="card text-center bg-light" style="width: 100%;">
                        <div class="card-body">
                            <div class="form">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "alert" })
                                    @Html.HiddenFor(model => model.ReservationId)

                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.RentalStartDate)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DisplayFor(model => model.RentalStartDate)
                                            </label>
                                            @Html.ValidationMessageFor(model => model.RentalStartDate, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.RentalEndDate)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DisplayFor(model => model.RentalEndDate)
                                            </label>
                                            @Html.ValidationMessageFor(model => model.RentalEndDate, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.Count)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DisplayFor(model => model.Count)
                                            </label>
                                            @Html.ValidationMessageFor(model => model.Count, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.User.Username)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DisplayFor(model => model.User.Username)
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.BoardGame.Name)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DisplayFor(model => model.BoardGame.Name)
                                            </label>
                                            @Html.ValidationMessageFor(model => model.BoardGame.Name, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-input">
                                            <label class="label-delete">
                                                @Html.DisplayNameFor(model => model.ReservationStatus.Name)
                                            </label>
                                            <label class="label-delete-desc">
                                                @Html.DropDownListFor(model => model.ReservationStatusId, ViewBag.ReservationStatus as SelectList)
                                            </label>
                                            @Html.ValidationMessageFor(model => model.ReservationStatusId, "", new { @class = "alert" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Zatwierdź" class="btn btn-full" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                @Html.ActionLink("Powrót", "Index", new { }, new { @class = "btn btn-full", @type = "submit", @style = "float:right;width:200px;" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>