@model IEnumerable<BoardGamesRentalApplication.DAL.Models.Reservation>

@{
    ViewBag.Title = "Zarządzanie rezerwacjami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGame.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationStatus.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentalStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentalEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardGame.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationId })
        </td>
    </tr>
}

</table>
