
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel Admina</h2>
<p>
    @Html.ActionLink("Zarządzanie grami", "BoardGamesCollection", "BoardGamesCollection")
    <br/>
    @Html.ActionLink("Zarządzanie kategoriami", "Index", "Category")
    <br/>
    @Html.ActionLink("Zarządzanie wydawcami", "Index", "BoardGamePublisher")
    <br/>
    @Html.ActionLink("Zarządzanie rezerwacjami", "Index", "RentalAdmin")
    <br/>
    @Html.ActionLink("Zarządzanie kodami rabatowymi", "Index", "DiscountAdmin")
</p>
