@model IEnumerable<BoardGamesRentalApplication.DAL.Models.BoardGameCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Zarządzanie<br />
    kategoriami
</h2>

<p class="container">
    @Html.ActionLink("Dodaj nową kategorię", "Create")
</p>
<table class="table row">
    <tr>
        <th>
            Kategorie gier planszowych
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.BoardGameCategoryId }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.BoardGameCategoryId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.BoardGameCategoryId })
            </td>
        </tr>
    }
</table>
